In [92]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import operator
import collections
import itertools
from collections import Counter
path = "../input"
if not os.path.exists(path):
    os.mkdir(path)
print(os.listdir(path))

[]

In [2]:
data = pd.read_csv('https://drive.google.com/u/0/uc?id=1nokVzSNxkUPil3aYRBI_fgzx25gtSEta&export=download')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [5]:
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id     original_title
491  tt1032751  The Warrior's Way

In [7]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1158  tt0279111  Gods and Generals

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
769  tt1449283  Winnie the Pooh

In [11]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
data['runtime'].mean()

109.65343915343915

In [13]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
data['runtime'].median()

106.5

In [15]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data['fees'] = data['revenue'] - data['budget']

In [17]:
data[data['fees'] == data['fees'].max()][['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

In [18]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
data[data['fees'] == data['fees'].min()][['imdb_id','original_title']]

       imdb_id     original_title
491  tt1032751  The Warrior's Way

In [20]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [21]:
len(data[data['fees']>0])

1478

In [22]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [23]:
data[data['release_year'] == 2008].sort_values(by='fees', ascending=False).head(1)[['imdb_id','original_title']]

       imdb_id   original_title
600  tt0468569  The Dark Knight

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data.query('2012<=release_year<=2014').sort_values(by='fees').head(1)[['imdb_id','original_title']]

        imdb_id   original_title
1246  tt1210819  The Lone Ranger

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
genres = []
data.genres.apply(lambda g: [genres.append(x) for x in g.split('|')])
collections.Counter(genres).most_common()[0]

('Drama', 782)

In [28]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [29]:
genres = []
data[data.revenue - data.budget > 0].genres.apply(lambda g: [genres.append(x) for x in g.split('|')])
collections.Counter(genres).most_common()[0]

('Drama', 560)

In [30]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
directors = []
data.director.apply(lambda d: [directors.append(x) for x in d.split('|')])
collections.Counter(directors).most_common()[0]

('Steven Soderbergh', 13)

In [32]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
directors = []
data[data['fees']>0].director.apply(lambda d: [directors.append(x) for x in d.split('|')])
collections.Counter(directors).most_common()[0]

('Ridley Scott', 12)

In [34]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
data.groupby(['director'])['fees'].sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: fees, Length: 958, dtype: int64

In [36]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
fees = collections.Counter()
def count_fees(cast, money):
    fees[cast] += money
    
data.apply(lambda row: [count_fees(c, row.fees) for c in row.cast.split('|')], axis = 1)
fees.most_common()[0]

('Emma Watson', 6666245597)

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
fees = collections.Counter()
def count_fees(cast, money):
    fees[cast] += money
    
data[data['release_year']==2012].apply(lambda row: [count_fees(c, row.fees) for c in row.cast.split('|')], axis = 1)
fees.most_common()[-1]

('Kirsten Dunst', -68109207)

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
actor = (data.set_index(data.columns.drop('cast',1).tolist())
      .cast.str.split('|', expand=True)
      .stack()
       .reset_index()
       .rename(columns={0:'cast'})
      .loc[:, data.columns]
   )

In [42]:
actor[actor['budget'] > actor['budget'].mean()]['cast'].value_counts().sort_values(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

In [43]:
answer_ls.append(1)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [44]:
genre = (data.set_index(data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand=True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
      .loc[:, data.columns]
   )

In [45]:
genres = []
films_with_cage = genre[genre['cast'].str.contains('Nicolas Cage')]
films_with_cage.genres.apply(lambda g: [genres.append(x) for x in g.split('|')])
collections.Counter(genres).most_common()[0]

('Action', 17)

In [46]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
def counter(df, reverse=True):
    dictionary = {}
    for row in df:
        for key in row.strip().split('|'):
            if key not in dictionary:
                dictionary[key] = 1
            else:
                dictionary[key] += 1
    return sorted(dictionary.items(), key=operator.itemgetter(1), reverse=reverse)

In [48]:
counter(data['production_companies'])[0]

('Universal Pictures', 173)

In [49]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [50]:
counter(data.query('release_year==2015')['production_companies'])[0]

('Warner Bros.', 12)

In [51]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [52]:
fees = collections.Counter()
def calc_income(company, money):
    fees[company] += money

data[data.genres.str.contains('Comedy')].apply(lambda row: [calc_income(c, row.fees) for c in row.production_companies.split('|')], axis = 1)
fees.most_common()[0]

('Universal Pictures', 8961545581)

In [53]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [54]:
fees = collections.Counter()
def calc_income(company, money):
    fees[company] += money

data[data.release_year==2012].apply(lambda row: [calc_income(c, row.fees) for c in row.production_companies.split('|')], axis = 1)
fees.most_common()[0]

('Columbia Pictures', 2501406608)

In [55]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [56]:
fees = collections.Counter()
def calc_income(film, money):
    fees[film] += money

data[data.production_companies.str.contains('Paramount Pictures')].apply(lambda row: [calc_income(row.original_title, row.fees)], axis = 1)
fees.most_common()[-1]

('K-19: The Widowmaker', -64831034)

In [57]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [58]:
fees = collections.Counter()
def calc_income(year, money):
    fees[year] += money

data.apply(lambda row: [calc_income(row.release_year, row.fees)], axis = 1)
fees.most_common()[0]

(2015, 18668572378)

In [59]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [60]:
fees = collections.Counter()
def calc_income(year, money):
    fees[year] += money

data[data.production_companies.str.contains('Warner Bros')].apply(lambda row: [calc_income(row.release_year, row.fees)], axis = 1)
fees.most_common()[0]

(2014, 2295464519)

In [61]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [63]:
data["month"] = pd.to_datetime(data["release_date"], format="%m/%d/%Y")
data["month"] = pd.DatetimeIndex(data['month']).month

data.groupby(["month"])['fees'].sum().sort_values(ascending=False).head(1)

month
6    27551262500
Name: fees, dtype: int64

In [64]:
answer_ls.append(2)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [65]:
len(data.query('month in [6,7,8]'))

450

In [66]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [67]:
counter(data.query('month in [12,1,2]')['director'])[0]

('Peter Jackson', 7)

In [68]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [69]:
data.groupby(['month'])['fees'].sum().sort_values(ascending=False).head(1)

month
6    27551262500
Name: fees, dtype: int64

In [70]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [74]:
companies = ['Universal Pictures','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
length = collections.Counter()
def calc_len(company, title_len):
    if company in companies:
        length[company] += title_len

data.apply(lambda row: [calc_len(c, len(row.original_title)) for c in row.production_companies.split('|')], axis = 1)
for company in length:
    if company in companies:
        length[company] = length[company]//data[data.production_companies.str.contains(company)]['production_companies'].count()
length.most_common()[0]

C:\Users\jawek\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in long_scalars
  import sys

('Four By Two Productions', 83)

In [ ]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [77]:
companies = ['Universal Pictures','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
length = collections.Counter()
def calc_len(company, title_len):
    if company in companies:
        length[company] += title_len

data.apply(lambda row: [calc_len(c, row.original_title.strip().count(' ')+1) for c in row.production_companies.split('|')], axis = 1)
for company in length:
    if company in companies:
        length[company] = length[company]//data[data.production_companies.str.contains(company)]['production_companies'].count()
length.most_common()[0]

C:\Users\jawek\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in long_scalars
  import sys

('Four By Two Productions', 12)

In [ ]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [78]:
words = []
data.original_title.apply(lambda t: [words.append(w.lower()) for w in t.split()])

len(collections.Counter(words).keys())

2461

In [79]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [88]:
data.sort_values(by = 'vote_average', ascending = False)['original_title'].head(len(data)//100)

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
Name: original_title, dtype: object

In [89]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [90]:
actors = []
data.cast.apply(lambda cast: [actors.append(pair) for pair in itertools.combinations(cast.split('|'), 2)])

collections.Counter(actors).most_common()[0][0]

('Daniel Radcliffe', 'Rupert Grint')

In [91]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [111]:
directors = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
fees = collections.Counter()
def calc_money(director, money):
    if director in directors:
        fees[director] += money

data.apply(lambda row: [calc_money(c, row.fees) for c in row.director.split('|')], axis = 1)
for director in fees:
    if director in directors:
        fees[director] = fees[director]//data[data.director.str.contains(director)]['director'].count()
fees.most_common()[0]

('Christopher Nolan', 395318562)

In [106]:
answer_ls.append(4)

# Submission

In [ ]:
len(answer_ls)

In [ ]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])